---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"

import '../styles/markdown.css'
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DPHBXRB980"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DPHBXRB980');
</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/holisticsvf.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
			</style>
		<title>Holistic Cancer Treatment</title>
		<meta name="description" content="Discover a comprehensive and compassionate approach to cancer care that integrates traditional and alternative therapies.">
		  <meta property="og:image" content={frontmatter.image.url}> 
  			<meta property="og:url" content={frontmatter.description}> 
  		<meta property="og:type" content="website">
	</head>
	<body>
		<Navbar />
    <div class="postcontent">
             
				<div class="img-cont">
<img src={frontmatter.image.url} width="100%" alt={frontmatter.image.alt} style="margin-top:2rem;"/>
				</div>
                
                <h2 style="font-size:2rem;">{frontmatter.title}</h2>
                <p style="font-size:1rem;font-weight:bold;text-align: center;color:#07a2bd;">{frontmatter.author}</p>
             
				<div class="audio">

				
			{frontmatter.audio && (
				<div class="audio-player">
					<div class="audio-header">
						<i class="bi bi-headphones"></i>
						<span>Listen to it</span>
					</div>
					<audio controls preload="metadata">
						<source src={frontmatter.audio} type="audio/mpeg" />
						Tu navegador no soporta el elemento de audio.
					</audio>
				</div>
			)}
			</div>
                <slot />
            </div>
	<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
